body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#button1{
    color: white;
    font-size: 16px;
    font-weight:bold;
    background-color:rgb(121,82,179);
    border: none;
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-left: 20px ;
    padding-right: 20px ;
    border-radius: 20px;
    margin: 20px;
}
#button2{
    font-size: 16px;
    background-color:white;
    color:rgb(108,117,125);
    font-weight: bold;
    border: 2px solid #6C757D;
     border-radius: 20px; 
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-left: 25px ;
    padding-right: 25px ;
    
}