body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.request-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}


.request-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
} 



#button1{
    
    color: white;
    background-color: black;
    border: none;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 30px ;

    padding-right: 30px ;
}

#button2{
    
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 30px ;
    font-weight: bold;
    padding-right: 30px ;
}